<!DOCTYPE html>
<html>
<head>
    <title>Plato y Menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="css/estilos.css"/>
</head>
<body>
    <header th:replace="plantilla/template::header"></header> 
    <h1>Plato y Menu</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id Plato</th>
                <th>Id Menu</th>
            </tr>
        </thead>
        <tbody>
            <!-- Aquí se generan las filas con los datos de los niños -->
            <tr th:each="menuPlato : ${menuPlato}">
                <td th:text="${menuPlato.IDMENUPLATO}"></td>
                <td th:text="${menuPlato.IDPLATO}"></td>
                <td th:text="${menuPlato.IDMENU}"></td>
            </tr>
        </tbody>
    </table>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>


